* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding-bottom: 400px;
    margin: 5%;
    background: #212121;
    color: #14FFEC;
}

.container {
    background: #323232;
    width: fit-content;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #0D7377;
}

.container__total-elements {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.container__list {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.list {
    margin-bottom: 1rem;
    width: 400px;
}

.loader {
    text-align: center;
}

.object {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #212121;
    transition: all 0.5s ease-out;
    background: #0D7377;
    border: 1px solid #323232;
    position: relative;
    cursor: move;
}

.object:not(.unselected):hover {
    background: #dae8fc;
    border: 1px solid #6c8ebf;
}

.selected {
    background: #dae8fc;
    border: 1px solid #6c8ebf;
}

::marker {
    color: #14FFEC;
}

.popup {
    position: absolute;
    right: -420px;
    width: 400px;
    background: #dae8fc;
    border: 1px solid #6c8ebf;
    padding: 20px;
    text-align: left;
}

.settings {
    width: 400px;
}

.number-products {
    color: #14FFEC;
    background: #52616B;
    padding: 10px;
    width: 60px;
    border: none;
    margin-bottom: 10px;
    margin-right: 15px;
}

.btn-products {
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    background-color: #14FFEC;
    color: #323232;
    border: none;
    margin-bottom: 10px;
}

.btn-products:hover {
    background-color: #323232;
    color: #14FFEC;
}




