* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 400px;
}


ol {
    width: 300px;
    border: 1px solid black;
    background: antiquewhite;
    margin-bottom: 1rem;
}

.object {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease-out;
    background: #6c8ebf;
    position: relative;
}

.object:hover {
    background: #dae8fc;
    border: 1px solid #6c8ebf;
}

.popup {
    position: absolute;
    right: -420px;
    width: 400px;
    background: #dae8fc;
    border: 1px solid #6c8ebf;
    padding: 20px;
    text-align: left;
}